*{
	padding: 0;
	margin: 0;
}

a:link, a:hover, a:active, a:visited{
	text-decoration: none;
}

/*head part*/
.loginButton{
	position:absolute !important;
	right:5px;
}

/*body part*/
#controller{
	margin: 20px auto 0;
	height: 80px;
}

.topMar{
	margin-top: 8px;
	text-align: center;
}

.controller-btns{
	margin-top: 4px;
	position:absolute;
	right:20px;
}

.slider-container{
	display: inline-block;
	position: relative;
	top: -6px;
}

#baidu_map{	
	width: 100%;
	height: 500px;
}

#deviceList{
	margin: 30px auto;
}