<div>	
	<div id="controller">
		<uib-tabset justified="true">
			<uib-tab heading="实时监测" ng-click="openRMPage()">
				<div class="well well-sm">{{realTimeInfo}}</div>
			</uib-tab>
			<uib-tab heading="查看回放" ng-click="openPBPage()">
				<div class="btn-group btn-group-sm controller-btns">
			        <label class="btn btn-success" ng-disabled="pbBegin" ng-click="beginPlayBack()">开始</label>
			        <label class="btn btn-success" ng-disabled="pbPause" ng-click="pausePlayBack()">暂停</label>
			        <label class="btn btn-success" ng-disabled="pbStop" ng-click="stopPlayBack()">结束</label>
			    </div>
			</uib-tab>
		</uib-tabset>		
	</div>
	<div id="baidu_map"></div>
</div>